<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
    <link rel="stylesheet" th:href="@{/css/customers.css}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Marketplace v1.0.0</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#712cf9">

    <style type="text/css">/* Chart.js */
    @keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}
    </style>
    <style type="text/css">
    .add-money-input {
        border: 0;
        box-shadow: none;
        text-align:center;
        width: 30% !important;
        font-size: 3rem !important;
        font-weight: 700 !important;
    }

    .alert {
        margin-bottom: -0.8rem !important;
    }
    .bi {
      width: 1.3em;
      height: 1.3em;
      fill: currentcolor;
    }
    </style>
</head>
<body>

<div th:replace="~{fragments/header :: header}"/>

<!-- Modal -->
<div class="modal fade" id="topUpModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add money</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center flex-column">
                <input class="my-3 add-money-input form-control form-control-lg" type="text" placeholder="0"
                       oninput="this.nextElementSibling.value = this.value" id="addMoneyInput">
                <input class="my-2 form-range" type="range" value="0" min="-500" max="500"
                       oninput="this.previousElementSibling.value = this.value">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="addMoney()">Confirm
                </button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row">

        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/dashboard}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-home align-text-bottom"
                                 aria-hidden="true">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active disabled" th:href="@{/orders}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-file align-text-bottom"
                                 aria-hidden="true">
                                <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                <polyline points="13 2 13 9 20 9"></polyline>
                            </svg>
                            Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-shopping-cart align-text-bottom"
                                 aria-hidden="true">
                                <circle cx="9" cy="21" r="1"></circle>
                                <circle cx="20" cy="21" r="1"></circle>
                                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                            </svg>
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/customers}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-users align-text-bottom"
                                 aria-hidden="true">
                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="9" cy="7" r="4"></circle>
                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            </svg>
                            Customers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-bar-chart-2 align-text-bottom"
                                 aria-hidden="true">
                                <line x1="18" y1="20" x2="18" y2="10"></line>
                                <line x1="12" y1="20" x2="12" y2="4"></line>
                                <line x1="6" y1="20" x2="6" y2="14"></line>
                            </svg>
                            Reports
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-layers align-text-bottom"
                                 aria-hidden="true">
                                <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                                <polyline points="2 17 12 22 22 17"></polyline>
                                <polyline points="2 12 12 17 22 12"></polyline>
                            </svg>
                            Integrations
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                    <span>Saved reports</span>
                    <a class="link-secondary" href="#" aria-label="Add a new report">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-plus-circle align-text-bottom" aria-hidden="true">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="12" y1="8" x2="12" y2="16"></line>
                            <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-file-text align-text-bottom"
                                 aria-hidden="true">
                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                <polyline points="14 2 14 8 20 8"></polyline>
                                <line x1="16" y1="13" x2="8" y2="13"></line>
                                <line x1="16" y1="17" x2="8" y2="17"></line>
                                <polyline points="10 9 9 9 8 9"></polyline>
                            </svg>
                            Current month
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-file-text align-text-bottom"
                                 aria-hidden="true">
                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                <polyline points="14 2 14 8 20 8"></polyline>
                                <line x1="16" y1="13" x2="8" y2="13"></line>
                                <line x1="16" y1="17" x2="8" y2="17"></line>
                                <polyline points="10 9 9 9 8 9"></polyline>
                            </svg>
                            Last quarter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-file-text align-text-bottom"
                                 aria-hidden="true">
                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                <polyline points="14 2 14 8 20 8"></polyline>
                                <line x1="16" y1="13" x2="8" y2="13"></line>
                                <line x1="16" y1="17" x2="8" y2="17"></line>
                                <polyline points="10 9 9 9 8 9"></polyline>
                            </svg>
                            Social engagement
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-file-text align-text-bottom"
                                 aria-hidden="true">
                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                <polyline points="14 2 14 8 20 8"></polyline>
                                <line x1="16" y1="13" x2="8" y2="13"></line>
                                <line x1="16" y1="17" x2="8" y2="17"></line>
                                <polyline points="10 9 9 9 8 9"></polyline>
                            </svg>
                            Year-end sale
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            <form action="#" th:action="@{/orders}" th:object="${purchasesForm}" method="post">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2 pt-3">Orders</h1>


                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol id="info-fill" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                        </symbol>
                    </svg>

                    <div th:if="${alert != null}" class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert" id="alert">
                        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                        <div class="px-4">Changes was saved</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>



                    <div class="btn-toolbar pt-3 mb-2 mb-md-0">
                        <button type="submit" class="btn btn-sm btn-outline-primary me-2">Save changes</button>
                        <div class="btn-group me-2">
                            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="blockUser()">Block</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="unblockUser()">Unblock</button>
                        </div>

                    </div>
                </div>
                <div id="members"
                     data-list="{&quot;valueNames&quot;:[&quot;customer&quot;,&quot;email&quot;,&quot;mobile_number&quot;,&quot;city&quot;,&quot;last_active&quot;,&quot;joined&quot;],&quot;page&quot;:10,&quot;pagination&quot;:true}">
                    <div class="row align-items-center justify-content-between g-3 mb-4">
                        <div class="col col-auto">

                        </div>
                        <div class="col-auto">

                        </div>
                    </div>
                    <div class="mx-n4 mx-lg-n6 px-4 px-lg-6 mb-9 mt-2 position-relative top-1">
                        <div class="table-responsive scrollbar ms-n1 ps-1">
                            <table class="table table-sm fs--1 mb-0">
                                <thead>
                                <tr>
                                    <th class="white-space-nowrap fs--1 align-middle ps-0">
                                        <div class="form-check mb-0 fs-0"><input class="form-check-input"
                                                                                 id="checkbox-bulk-members-select"
                                                                                 type="checkbox"
                                                                                 data-bulk-select="{&quot;body&quot;:&quot;members-table-body&quot;}">
                                        </div>
                                    </th>
                                    <th class="sort align-middle" scope="col" data-sort="id"
                                        style="width:15%; min-width:200px;">ID
                                    </th>
                                    <th class="sort align-middle" scope="col" data-sort="customer"
                                        style="width:15%; min-width:200px;">
                                        <span class="ms-3">NAME</span>
                                    </th>
                                    <th class="sort align-middle" scope="col" data-sort="email" style="width:15%;">
                                        ITEM
                                    </th>
                                    <th class="sort align-middle pe-3" scope="col" data-sort="mobile_number"
                                        style="width:15%;">PRICE
                                    </th>
                                    <th class="sort align-middle" scope="col" data-sort="city" style="width:15%;">
                                        STATUS
                                    </th>
                                    <th class="sort align-middle text-end pe-0" scope="col" data-sort="joined"
                                        style="width:19%;  min-width:200px;">DATE
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="list" id="members-table-body">
                                    <fieldset>
                                        <tr th:each="purchasesModel, itemStat : *{purchasesModels}"
                                            class="hover-actions-trigger btn-reveal-trigger position-static">
                                            <td class="fs--1 align-middle ps-0 py-3">
                                                <div class="form-check mb-0 fs-0">
                                                    <input class="form-check-input" type="checkbox"
                                                           data-bulk-select-row="{&quot;customer&quot;:{&quot;avatar&quot;:&quot;/team/32.webp&quot;,&quot;name&quot;:&quot;Carry Anna&quot;},&quot;email&quot;:&quot;annac34@gmail.com&quot;,&quot;mobile&quot;:&quot;+912346578&quot;,&quot;city&quot;:&quot;Budapest&quot;,&quot;lastActive&quot;:&quot;34 min ago&quot;,&quot;joined&quot;:&quot;Dec 12, 12:56 PM&quot;}">
                                                    <input type="hidden" th:field="*{purchasesModels[__${itemStat.index}__].checked}">
                                                </div>
                                            </td>
                                            <td th:text="${purchasesModel.purchase.id}" class="align-middle text-900"/>
                                            <input type="hidden" th:field="*{purchasesModels[__${itemStat.index}__].purchase.id}">

                                            <td class="align-middle"><h6 th:text="${purchasesModel.purchase.name}" class="mb-0 ms-3 fw-semi-bold text-900"/></td>

                                            <td th:text="${purchasesModel.purchase.item}" class="align-middle text-900 balance"></td>
                                            <input type="hidden" th:field="*{purchasesModels[__${itemStat.index}__].purchase.item}">

                                            <td th:text="${purchasesModel.purchase.price}" class="align-middle text-900 role"></td>
                                            <input type="hidden" th:field="*{purchasesModels[__${itemStat.index}__].purchase.price}">

                                            <td th:text="${purchasesModel.purchase.status}" class="align-middle text-900"/>
                                            <input type="hidden" th:field="*{purchasesModels[__${itemStat.index}__].purchase.status}">

                                            <td class="align-middle text-end text-900">Dec 12, 12:56 PM</td>
                                        </tr>
                                    </fieldset>
                                </tbody>
                            </table>
                        </div>
                        <div class="row align-items-center justify-content-between py-3 pe-0 fs--1">
                            <div class="ps-3 col-auto d-flex">
                                <p class="d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info">
                                    <span th:text="${fromCount}"/> to <span th:text="${toCount}"/> <span class="text-600"> Items of </span><span th:text="${ofCount}"/></p>
                            </div>
                            <div th:if="${totalPages > 0}" class="col-auto d-flex">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" th:href="@{/orders(page=1)}" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item" th:each="pageNumber : ${pageNumbers}"
                                            th:classappend="${pageNumber==currentPage} ? disabled">
                                            <a class="page-link" th:href="@{/orders(page=${pageNumber})}"
                                               th:text=${pageNumber}></a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" th:href="@{/orders(page=${totalPages})}"
                                               aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>


<script type="text/javascript">
function addMoney() {
    let sum = document.getElementById('addMoneyInput').value;
    if(sum) {
        let selectedRowsForAddMoney = document.querySelectorAll('[type="checkbox"]:not(#checkbox-bulk-members-select):checked');
        selectedRowsForAddMoney.forEach(el => {
            resultElement = el.parentElement.parentElement.parentElement.getElementsByClassName('balance')[0];
            resultElement.textContent = (parseFloat(resultElement.textContent) + parseFloat(sum)).toFixed(1);
            resultElement.nextElementSibling.value = resultElement.textContent;
        });
    }
};
</script>
<script type="text/javascript">
function blockUser() {
    let selectedRowsForBlock = document.querySelectorAll('[type="checkbox"]:not(#checkbox-bulk-members-select):checked');
    selectedRowsForBlock.forEach(el => {
        resultElement = el.parentElement.parentElement.parentElement.getElementsByClassName('status')[0];
        resultElement.textContent = 'BLOCKED';
        resultElement.nextElementSibling.value = resultElement.textContent;
    });
};
</script>
<script type="text/javascript">
function unblockUser() {
    let selectedRowsForBlock = document.querySelectorAll('[type="checkbox"]:not(#checkbox-bulk-members-select):checked');
    selectedRowsForBlock.forEach(el => {
        resultElement = el.parentElement.parentElement.parentElement.getElementsByClassName('status')[0];
        resultElement.textContent = 'ACTIVE';
        resultElement.nextElementSibling.value = resultElement.textContent;
    });
};
</script>
<script type="text/javascript">
    if(document.getElementById('alert')) {
        setTimeout(function () {
            bsAlert = new bootstrap.Alert('#alert');
            bsAlert.close();
        }, 2500);
    }
</script>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script th:src="@{js/dashboard.js}"></script>
<script th:src="@{js/bulk-select.js}"></script>

</body>
</html>