<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Marketplace v1.0.0</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
    <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#712cf9">

    <style type="text/css">/* Chart.js */
    @keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}

    </style>
    <style type="text/css">
    .add-money-input {
        border: 0;
        box-shadow: none;
        text-align:center;
        width: 30% !important;
        font-size: 3rem !important;
        font-weight: 700 !important;
    }

    .alert {
        margin-bottom: -0.8rem !important;
    }

    </style>
</head>
<body>

<div th:replace="~{fragments/header :: header}"/>

<div class="container-fluid mt-5">
    <div class="row">

        <div th:replace="fragments/sidebarMenu.html :: sidebarMenuFragment(controller='products')"/>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">


            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2 pt-3">Products</h1>


                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="info-fill" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </symbol>
                </svg>

                <div th:if="${alert != null}"
                     class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert"
                     id="alert">
                    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:">
                        <use xlink:href="#info-fill"/>
                    </svg>
                    <div class="px-4">Changes was saved</div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>


                <div class="btn-toolbar pt-3 mb-2 mb-md-0">
                    <button type="submit" form="saveForm" class="btn btn-sm btn-outline-primary me-2">Save changes</button>
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="blockUser()">Block
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="unblockUser()">Unblock
                        </button>
                    </div>

                </div>
            </div>
            <div id="products"
                 data-list="{&quot;valueNames&quot;:[&quot;customer&quot;,&quot;email&quot;,&quot;mobile_number&quot;,&quot;city&quot;,&quot;last_active&quot;,&quot;joined&quot;],&quot;page&quot;:10,&quot;pagination&quot;:true}">

                <div th:replace="fragments/searchInput.html :: searchInputFragment(controller='products')"/>

                <div class="mx-n4 mx-lg-n6 px-4 px-lg-6 mb-9 mt-2 position-relative top-1">
                    <div class="table-responsive scrollbar ms-n1 ps-1">
                        <table class="table table-sm fs--1 mb-0">
                            <thead>
                            <tr>
                                <th class="white-space-nowrap fs--1 align-middle ps-0">
                                    <div class="form-check mb-0 fs-0"><input class="form-check-input"
                                                                             id="checkbox-bulk-members-select"
                                                                             type="checkbox"
                                                                             data-bulk-select="{&quot;body&quot;:&quot;members-table-body&quot;}">
                                    </div>
                                </th>
                                <th class="sort align-middle" scope="col" data-sort="id">
                                    ID
                                </th>
                                <th class="sort align-middle" scope="col" data-sort="id">
                                    IMAGE
                                </th>
                                <th class="sort align-middle" scope="col" data-sort="customer">
                                    <span class="ms-3">NAME</span>
                                </th>
                                <th class="sort align-middle" scope="col" data-sort="email">
                                    DESCRIPTION
                                </th>
                                <th class="sort align-middle" scope="col" data-sort="email">
                                    CATEGORY
                                </th>
                                <th class="sort align-middle pe-3" scope="col" data-sort="mobile_number">
                                    OWNER
                                </th>
                                <th class="sort align-middle" scope="col" data-sort="mobile_number">
                                    PRICE
                                </th>
                                <th class="sort align-middle" scope="col" data-sort="city">
                                    STATUS
                                </th>
                                <th class="sort align-middle text-end pe-0" scope="col" data-sort="joined">
                                    RATING
                                </th>
                            </tr>
                            </thead>
                            <form id="saveForm" action="#" th:action="@{/product}" th:object="${productsForm}" method="post">
                                <tbody class="list" id="members-table-body">
                                <fieldset>
                                    <tr th:each="productsModel, itemStat : *{productsModels}"
                                        class="hover-actions-trigger btn-reveal-trigger position-static">
                                        <td class="fs--1 align-middle ps-0 py-3">
                                            <div class="form-check mb-0 fs-0">
                                                <input class="form-check-input" type="checkbox"
                                                       data-bulk-select-row="{&quot;customer&quot;:{&quot;avatar&quot;:&quot;/team/32.webp&quot;,&quot;name&quot;:&quot;Carry Anna&quot;},&quot;email&quot;:&quot;annac34@gmail.com&quot;,&quot;mobile&quot;:&quot;+912346578&quot;,&quot;city&quot;:&quot;Budapest&quot;,&quot;lastActive&quot;:&quot;34 min ago&quot;,&quot;joined&quot;:&quot;Dec 12, 12:56 PM&quot;}">
                                                <input type="hidden"
                                                       th:field="*{productsModels[__${itemStat.index}__].checked}">
                                            </div>
                                        </td>
                                        <td th:text="${productsModel.product.id}" class="align-middle text-900"/>
                                        <input type="hidden"
                                               th:field="*{productsModels[__${itemStat.index}__].product.id}">

                                        <td>
                                            <img th:src="@{${'/image/display/'+ productsModel.product.id}}"
                                                 class="card img-fluid" style="width:100px" alt=""/>
                                        </td>

                                        <td class="align-middle"><h6 th:text="${productsModel.product.productName}"
                                                                     class="mb-0 ms-3 fw-semi-bold text-900"/></td>

                                        <td th:text="${productsModel.product.description}"
                                            class="align-middle text-900 balance"></td>

                                        <td th:text="${productsModel.product.category}"
                                            class="align-middle text-900 balance"></td>

                                        <td th:text="${productsModel.product.owner.username}"
                                            class="align-middle text-900 role"></td>

                                        <td th:text="${productsModel.product.price}"
                                            class="align-middle text-900 role"></td>
                                        <input type="hidden"
                                               th:field="*{productsModels[__${itemStat.index}__].product.price}">

                                        <td th:switch="${productsModel.product.status.name()}"
                                            class="align-middle text-900">
                                            <span th:case="'CONFIRMED'" th:text="${productsModel.product.status}"
                                                  class="badge bg-success"/>
                                            <span th:case="'IN_PROGRESS'" th:text="${productsModel.product.status}"
                                                  class="badge bg-warning"/>
                                            <span th:case="*" th:text="${productsModel.product.status}"
                                                  class="badge bg-danger"/>
                                        </td>

                                        <input type="hidden"
                                               th:field="*{productsModels[__${itemStat.index}__].product.status}">

                                        <td th:text="${productsModel.product.ratingGood - productsModel.product.ratingBad}"
                                            class="align-middle text-end text-900 role"></td>
                                    </tr>
                                </fieldset>
                                </tbody>
                            </form>
                        </table>
                    </div>
                    <div th:replace="fragments/pagination.html :: paginationFragment(controller='products')"/>
                </div>
            </div>
        </main>
    </div>
</div>


<script type="text/javascript">
function addMoney() {
    let sum = document.getElementById('addMoneyInput').value;
    if(sum) {
        let selectedRowsForAddMoney = document.querySelectorAll('[type="checkbox"]:not(#checkbox-bulk-members-select):checked');
        selectedRowsForAddMoney.forEach(el => {
            resultElement = el.parentElement.parentElement.parentElement.getElementsByClassName('balance')[0];
            resultElement.textContent = (parseFloat(resultElement.textContent) + parseFloat(sum)).toFixed(1);
            resultElement.nextElementSibling.value = resultElement.textContent;
        });
    }
};
</script>
<script type="text/javascript">
function blockUser() {
    let selectedRowsForBlock = document.querySelectorAll('[type="checkbox"]:not(#checkbox-bulk-members-select):checked');
    selectedRowsForBlock.forEach(el => {
        resultElement = el.parentElement.parentElement.parentElement.getElementsByClassName('status')[0];
        resultElement.textContent = 'BLOCKED';
        resultElement.nextElementSibling.value = resultElement.textContent;
    });
};
</script>
<script type="text/javascript">
function unblockUser() {
    let selectedRowsForBlock = document.querySelectorAll('[type="checkbox"]:not(#checkbox-bulk-members-select):checked');
    selectedRowsForBlock.forEach(el => {
        resultElement = el.parentElement.parentElement.parentElement.getElementsByClassName('status')[0];
        resultElement.textContent = 'ACTIVE';
        resultElement.nextElementSibling.value = resultElement.textContent;
    });
};
</script>
<script type="text/javascript">
    if(document.getElementById('alert')) {
        setTimeout(function () {
            bsAlert = new bootstrap.Alert('#alert');
            bsAlert.close();
        }, 2500);
    }
</script>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script th:src="@{js/dashboard.js}"></script>
<script th:src="@{js/bulk-select.js}"></script>

</body>
</html>